[submodule "allolib"]
	path = allolib
	url = https://github.com/AlloSphere-Research-Group/allolib
[submodule "cuttlebone"]
	path = cuttlebone
	url = https://github.com/kybr/cuttlebone
[submodule "student/MAT201B"]
	path = student/weidi
	url = https://github.com/UNIBIUBIU/MAT201B
[submodule "student/mitchell"]
	path = student/mitchell
	url = https://github.com/Mitchell57/MAT201B-mblewis
